@using FitnesCentar.Models
@{
    ViewBag.Title = "Home";
    Layout = null;
}

<!DOCTYPE html>

@{
    Korisnik korisnik = (Korisnik)HttpContext.Current.Session["korisnik"];
    FitnessCentar centar = (FitnessCentar)HttpContext.Current.Application["centar"];
    Dictionary<string, FitnessCentar> centri = (Dictionary<string, FitnessCentar>)HttpContext.Current.Application["centri"];
    Dictionary<string, GrupniTrening> treninzi = (Dictionary<string, GrupniTrening>)HttpContext.Current.Application["treninzi"];
}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/flexboxgrid.css" />
    <link rel="stylesheet" href="~/Content/style.css">
</head>


<body>

    <!-- MENI -->
    @{
        if (korisnik == null)
        {
            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <h1><span class="primary-text">Sipka</span>Terapija</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <nav id="navbar">
                                <ul>
                                    <li class="active"><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Login/Index">Prijava</a></li>
                                    <li><a href="~/Register/Index">Registracija</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }

        else if (korisnik != null && korisnik.uloga.Equals(Uloga.POSETILAC))
        {
            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <h1><span class="primary-text">Sipka</span>Terapija</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <nav id="navbar">
                                <ul>
                                    <li class="active"><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/IstorijaTrening/Index">Istorija treninga</a></li>
                                    <li><a href="~/Profil/Index">Profil</a></li>
                                    <li><a href="~/Login/Odjava">Odjava</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }

        else if (korisnik != null && korisnik.uloga.Equals(Uloga.TRENER))
        {
            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <h1><span class="primary-text">Sipka</span>Terapija</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-10 col-md-10 col-lg-10">
                            <nav id="navbar">
                                <ul>
                                    <li class="active"><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Treninzi/Index">Treninzi</a></li>
                                    <li><a href="~/Istorija/Index">Prethodni treninzi</a></li>
                                    <li><a href="~/Trener/Index">Kreriraj trening</a></li>
                                    <li><a href="~/Profil/Index">Profil</a></li>
                                    <li><a href="~/Login/Odjava">Odjava</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }

        else if (korisnik != null && korisnik.uloga.Equals(Uloga.VLASNIK))
        {
            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <h1><span class="primary-text">Sipka</span>Terapija</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-10 col-md-10 col-lg-10">
                            <nav id="navbar">
                                <ul>
                                    <li class="active"><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Vlasnik/Index">Registruj trenera</a></li>
                                    <li><a href="~/Centri/Index"></a>Centri</li>
                                    <li><a href="~/Profil/Index">Profil</a></li>
                                    <li><a href="~/Login/Odjava">Odjava</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }
    }

    <!-- MENI -->
    <!--SLIKA-->

    <section id="showcase">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-sm">
                <div class="col-xs-12 col-sm-10 col-md-10 col- col-lg-9 showcase-content">
                    <h1>Pobedite svoje demone</h1>
                    <p style="color:white; font-size:25px; margin-top:10px">Klikom do pobede</p>
                </div>
            </div>
        </div>
    </section>

    <!--SLIKA-->
    <section id="offers">
        <div class="container">
            <div class="row center-xs center-sm center-md center-md">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Izmena centra</h2>
                    <p>Izmenite Vaše podatke u samo par klikova</p>
                    <div class="row center-xs center-sm center-md center-md">
                        <form action="~/Izmena/IzmeniCentar" method="post" style="margin-top:20px; margin-bottom:20px">
                            <input type="text" name="naziv" value="@centar.naziv" required>
                            <input type="text" name="adresa" value="@centar.adresa" required>
                            <br>
                            <input type="number" name="godinaOtvaranja" value="@centar.godinaOtvaranja" required>
                            <input type="number" name="mesecnaClanarina" value="@centar.mesecnaClanarina" required>
                            <br>
                            <input type="number" name="godisnjaClanarina" value="@centar.godisnjaClanarina" required>
                            <br>
                            <input type="number" name="cenaTreninga" value="@centar.cenaTreninga" required>
                            <br>
                            <input type="number" name="cenaGrupnogTreninga" value="@centar.cenaGrupnogTreninga" required>
                            <br>
                            <input type="number" name="cenaPersonalnogTreninga" value="@centar.cenaPersonalnogTreninga" required>
                            <br>
                            <input type="submit" value="Izmeni"
                                   style="
                                        color:darkred;
                                        padding:10px;
                                        border:0px;
                                        width:267px;
                                        height:34px;
                                        text-align:center;
                                        margin-bottom:30px;">
                        </form>
                    </div>
                    <h4 style="margin-bottom:20px; color:#7BA17D">@ViewBag.Poruka</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <footer id="main-footer">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Copyright &copy; 2022 | SipkaTerapija</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER -->

</body>

</html>