@using FitnesCentar.Models
@{
    ViewBag.Title = "Home";
    Layout = null;
}

<!DOCTYPE html>

@{
    Korisnik korisnik = (Korisnik)HttpContext.Current.Session["korisnik"];
    Dictionary<string, FitnessCentar> centri = (Dictionary<string, FitnessCentar>)HttpContext.Current.Application["centri"];
    string goOd = (string)HttpContext.Current.Application["goOd"];
    string goDo = (string)HttpContext.Current.Application["goDo"];
}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/flexboxgrid.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <style>
        table {
            width: auto;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>


<body>

    <!-- MENI -->
    @{
        if (korisnik == null)
        {
            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <h1><span class="primary-text">Sipka</span>Terapija</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <nav id="navbar">
                                <ul>
                                    <li class="active"><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Login/Index">Prijava</a></li>
                                    <li><a href="~/Register/Index">Registracija</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }

        else if (korisnik != null && korisnik.uloga.Equals(Uloga.POSETILAC))
        {
            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <h1><span class="primary-text">Sipka</span>Terapija</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <nav id="navbar">
                                <ul>
                                    <li class="active"><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/IstorijaTrening/Index">Istorija treninga</a></li>
                                    <li><a href="~/Profil/Index">Profil</a></li>
                                    <li><a href="~/Login/Odjava">Odjava</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }

        else if (korisnik != null && korisnik.uloga.Equals(Uloga.TRENER))
        {
            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <h1><span class="primary-text">Sipka</span>Terapija</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-10 col-md-10 col-lg-10">
                            <nav id="navbar">
                                <ul>
                                    <li class="active"><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Treninzi/Index">Treninzi</a></li>
                                    <li><a href="~/Istorija/Index">Prethodni treninzi</a></li>
                                    <li><a href="~/Trener/Index">Kreriraj trening</a></li>
                                    <li><a href="~/Profil/Index">Profil</a></li>
                                    <li><a href="~/Login/Odjava">Odjava</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }

        else if (korisnik != null && korisnik.uloga.Equals(Uloga.VLASNIK))
        {
            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <h1><span class="primary-text">Sipka</span>Terapija</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-10 col-md-10 col-lg-10">
                            <nav id="navbar">
                                <ul>
                                    <li class="active"><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Vlasnik/Index">Registruj trenera</a></li>
                                    <li><a href="~/Centri/Index">Centri</a></li>
                                    <li><a href="~/Profil/Index">Profil</a></li>
                                    <li><a href="~/Login/Odjava">Odjava</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }
    }

    <!-- MENI -->
    <!--SLIKA-->

    <section id="showcase">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-sm">
                <div class="col-xs-12 col-sm-10 col-md-10 col- col-lg-9 showcase-content">
                    <h1>Pobedite svoje demone</h1>
                    <p style="color:white; font-size:25px; margin-top:10px">Klikom do pobede</p>
                </div>
            </div>
        </div>
    </section>

    <!--SLIKA-->
    <!--TABELA-->


    <h2>Fitnes centri</h2>
    <table>
        <tr>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Godina otvaranja</th>
            <th></th>
        </tr>
        @{
            foreach (FitnessCentar f in centri.Values)
            {
                <tr>
                    <td>@f.naziv</td>
                    <td>@f.adresa</td>
                    <td>@f.godinaOtvaranja</td>
                    <td>
                        <form action="~/Informacije/PrikaziInformacijeCentra" method="post">
                            <input type="text" name="naziv" value="@f.naziv" hidden />
                            <input type="submit" value="Detalji" />
                        </form>
                    </td>
                </tr>
            }
        }

    </table>

    <!--TABELA-->
    <!--SEARCH-->
    <form action="~/Home/Pretraga" method="post">

        <h2 style="margin-top: 15px">Pretraga i sortiranje centara</h2>
        <div>
            <div>
                <h4>Godina otvaranja od</h4>
                <input type="text" name="godinaOtvaranjaOd" value="@goOd">
            </div>
            <div>
                <h4>Godina otvaranja do</h4>
                <input type="text" name="godinaOtvaranjaDo" value="@goDo">
            </div>
            <div>
                <h4>Naziv Centra</h4>
                <input type="text" placeholder="Unesite ime centra" name="nazivCentra">
            </div>
            <div>
                <h4>Adresa Centra</h4>
                <input type="text" placeholder="Unesite adresu centra" name="adresaCentra">
            </div>
            <div>
                <input type="submit" value="Pretrazi"
                       style="
                        color:darkred;
                        padding:10px;
                        border:0px;
                        width:267px;
                        height:35px;
                        text-align:center;
                        margin-bottom:30px;">
            </div>
        </div>
    </form>

    <!--SORT-->
    <form action="~/Home/Sortiranje" method="post">
        <section id="offers">
            <div class="container">
                <div class="row center-xs center-sm center-md center-md">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <input list="sort" name="podatakZaSortiranje" placeholder="Odaberite podatak za sortiranje" style="text-align:center" required>
                        <datalist id="sort">
                            <option value="Naziv centra"></option>
                            <option value="Adresa centra"></option>
                            <option value="Godina otvaranja centra"></option>
                        </datalist>
                        <input list="sortTip" name="tipSortiranja" placeholder="Odaberite nacin sortiranja" style="text-align:center" required>
                        <datalist id="sortTip">
                            <option value="Rastuce"></option>
                            <option value="Opadajuce"></option>
                        </datalist>
                        <input type="submit" value="Sortiraj" id="pretraga"
                               style="
                               color:darkred;
                               padding:10px;
                               border:0px;
                               width:267px;
                               height:35px;
                               text-align:center;
                               margin-bottom:30px;">
                    </div>
                </div>
            </div>
        </section>
    </form>

    <!-- FOOTER -->
    <footer id="main-footer">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Copyright &copy; 2022 | SipkaTerapija</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER -->

</body>

</html>

